/*-------------------------------------------
| Navegação
-------------------------------------------*/

.navbar { border-radius: 0 !important; }

/*-------------------------------------------
| Login
-------------------------------------------*/

body.login 
{ 
	background-color: #eee; 

}

.wrapper-login 
{
	max-width: 330px;
	margin: 80px auto;
}

/*-------------------------------------------
| Tabela
-------------------------------------------*/

img.loader-tabela 
{
	margin: 120px auto;
	width: 66px;
	display: block;
}

/*-------------------------------------------
| Formulário de Cadastro
-------------------------------------------*/

.wrapper-formulario
{
	position: relative;
}



/* Transições */

.wrapper-formulario .item:nth-child(1)
{
	position: absolute;
	transition: all 0.2s ease-out;
	transform: translate3d(0, 0, 0);
}

.wrapper-formulario .item:nth-child(2)
{
	position: absolute;
	transition: all 0.2s ease-out;
	transform: translate3d(0, 65px, 0);
}

.alert 
{ 
	margin-top: 20px;
}

.cadastro-usuario
{
	margin-top: 20px;
}